Repository bellshade/Dart, pull requests merged in 2022-10, with the labels that each got.

#51 docs: memperbaiki typo di table mulai belajar
  README.md
Labels: ready-to-merge, documentation, markdown files, request docs-team untuk review, HACKTOBERFEST-ACCEPTED

#53 Add Symbol data type
  basic/2_tipe_data/README.md
  basic/2_tipe_data/tipe_data.dart
Labels: ready-to-merge, dart files, request dart-team untuk review, markdown files, request docs-team untuk review, HACKTOBERFEST-ACCEPTED

#54 feat: add Type test operator
  basic/4_operator_dan_logika_aritmatika/Readme.md
  basic/4_operator_dan_logika_aritmatika/operator_dan_logika_aritmatika.dart
Labels: ready-to-merge, enhancement, dart files, request dart-team untuk review, markdown files, request docs-team untuk review, HACKTOBERFEST-ACCEPTED
